<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dlpuzcl.mapper.ApplyMapper">
    <select id="getApplyList" resultType="apply" parameterType="apply">
        select u.user_name,u.user_color,a.apply_day,a.apply_section,a.apply_week,c.course_name,c.course_class
        from user u,lab_room l,apply a,course c
        WHERE u.user_id=a.user_id
          and l.room_id=a.room_id
          and c.course_id = a.course_id
          and a.apply_week = #{apply_week}
          and a.room_id = #{room_id}
          and a.years = #{years}
          and a.iterm = #{iterm}
    </select>


    <select id="querySelectApply" resultType="apply" parameterType="apply">
        select u.user_name,u.user_color,a.apply_day,a.apply_section,a.apply_week,c.course_name,c.course_class
        from user u,lab_room l,apply a,course c
        WHERE u.user_id=a.user_id
          and l.room_id=a.room_id
          and c.course_id = a.course_id
          and a.room_id = #{room_id}
          and a.years = #{years}
          and a.iterm = #{iterm}
    </select>


    <insert id="addApply" parameterType="apply" >
        insert into apply
        (apply_week,apply_day,apply_section,room_id,user_id,course_id,years,iterm)
        values (#{apply_week},#{apply_day},#{apply_section},#{room_id},#{user_id},#{course_id},#{years},#{iterm})
    </insert>

    <insert id="addBatchApply" parameterType="applyBatch" >
        insert into apply
        (apply_week,apply_day,apply_section,room_id,user_id,course_id,years,iterm)
        values (#{apply_week},#{apply_day},#{apply_section},#{room_id},#{user_id},#{course_id},#{years},#{iterm})
    </insert>

    <select id="queryApplyByUser" parameterType="queryVo" resultType="apply">
        select
            a.apply_id,
            a.apply_week,
            a.apply_day,
            a.apply_section,
            a.user_id,
            c.course_name,
            c.course_class,
            u.user_name,
            l.room_name,
            l.room_code
        from apply a
            left join course c on a.course_id = c.course_id
            left join user u on a.user_id = u.user_id
            left join lab_room l on a.room_id = l.room_id
        <where>
            <if test="userName != null and userName != ''">
                and a.user_id = #{ userName}
            </if>
            <if test="applyWeek != null and applyWeek != ''">
                and a.apply_week = #{applyWeek}
            </if>
            <if test="roomCode != null and roomCode != ''">
                and a.room_id = #{roomCode}
            </if>
            <if test="years != null and years != ''">
                and a.years = #{years}
            </if>
            <if test="iterm == 1 or iterm == 2">
                and a.iterm = #{iterm}
            </if>

        </where>
        ORDER BY a.apply_day,a.apply_section ASC
        limit #{start},#{rows};
    </select>

    <select id="getCountByQueryVo" resultType="integer" parameterType="queryvo">
        select
          count(1)
        from apply a
        left join course c on a.course_id = c.course_id
        left join user u on a.user_id = u.user_id
        left join lab_room l on a.room_id = l.room_id
        <where>
            <if test="userName != null and userName != ''">
                and a.user_id = #{userName}
            </if>
            <if test="applyWeek != null and applyWeek != ''">
                and a.apply_week = #{applyWeek}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="integer">
        delete
        from
        apply
        where apply_id = #{id};
    </delete>

    <select id="queryItermYear" resultType="itermyear">
          select iterm_year_id,iterm,years
          from iterm_year;

    </select>

    <update id="setItermYear" parameterType="itermyear">
        update iterm_year
        set
            iterm = #{iterm},
            years = #{years};
    </update>

    <select id="queryApplyByItermYear" parameterType="apply" resultType="integer">

        select
        count(1)
        from apply
        <where>
            <if test="years != null and years != ''">
                and years = #{years}
            </if>
            <if test="iterm == 1 or iterm == 2">
                and iterm = #{iterm}
            </if>
            <if test="room_id != null and room_id !=''">
                and room_id = #{room_id}
            </if>

        </where>
    </select>
</mapper>