<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dlpuzcl.mapper.CourseMapper">

    <sql id="course_where">
        <where>
            <if test="courseName != null and courseName != ''">
                and c.course_name like '%${courseName}%'
            </if>
            <if test="userName != null and userName != ''">
                and u.user_name = #{userName}
            </if>
            <if test="true">
                and c.course_mark=#{course_mark}
            </if>

        </where>
    </sql>

    <!--查询所有课程-->
    <select id="courseByUser" parameterType="integer" resultType="course">
        select course_id,course_name,course_memo,course_class,course_nature,course_time,course_students
        from course
        where #{id} = user_id and course_mark=1;
    </select>

    <!--根据条件查询列表总数-->
    <select id="getCountByQueryVo" resultType="integer" parameterType="queryvo">
        select count(1)
        from course c
        left join user u on c.user_id = u.user_id
        <include refid="course_where"></include>
    </select>

    <!--根据条件查询所有课程信息-->
    <select id="getCourseByQueryVo" resultType="Course" parameterType="queryvo">
        select
            c.course_id,
            c.course_name,
            c.course_class,
            c.course_memo,
            c.course_time,
            c.course_nature,
            c.course_students,
            u.user_name user_id
        from course c
        left join user u on c.user_id = u.user_id
        <include refid="course_where"></include>
        limit #{start},#{rows};


    </select>

    <!--通过ID查询课程-->
    <select id="courseById" resultType="course" parameterType="integer">
        select
            c.course_id,
            c.course_name,
            c.course_class,
            c.course_memo,
            c.user_id,
            c.course_time,
            c.course_students,
            c.course_nature
        from course c
        where c.course_id = #{id} and c.course_mark=1;
    </select>

    <!--查询所有课程-->
    <select id="queryAllCourse" resultType="course">
        select
            c.course_id,
            c.course_name,
            c.course_class,
            c.course_memo,
            c.user_id,
            c.course_time,
            c.course_students,
            c.course_nature
        from course c
        where c.course_mark=1;
    </select>

    <!--更新课程-->
    <update id="updateCourse" parameterType="course">
        update course
        <set>
            <if test="course_name != null and course_name != ''">
                course_name = #{course_name},
            </if>
            <if test="course_class != null and course_class != ''">
                course_class = #{course_class},
            </if>
            <if test="course_memo != null and course_memo != ''">
                course_memo = #{course_memo},
            </if>
            <if test="user_id != null and user_id != ''">
                user_id = #{user_id},
            </if>
            <if test="course_nature != null and course_nature != ''">
                course_nature = #{course_nature},
            </if>
            <if test="course_time != null and course_time != ''">
                course_time = #{course_time},
            </if>
            <if test="course_students != null and course_students != ''">
                course_students = #{course_students},
            </if>
        </set>
        where course_id = #{course_id};
    </update>

    <!--添加课程-->
    <insert id="addCourse" parameterType="course">
        insert into course
        (course_name,course_class,course_memo,user_id,course_time,course_nature,course_students)
        values(#{course_name},#{course_class},#{course_memo},#{user_id},#{course_time},#{course_nature},#{course_students});
    </insert>

    <!--&lt;!&ndash;删除课程&ndash;&gt;-->
    <!--<delete id="deleteCourse" parameterType="integer">-->
        <!--delete-->
        <!--from course-->
        <!--where course_id = #{id};-->

    <!--</delete>-->

    <update id="deleteCourse" >
        update course
        set course_mark = #{1}
        where course_id = #{0};
    </update>



</mapper>