<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dlpuzcl.mapper.UserMapper">

    <sql id="user_where">
        <where>
            <if test="userName != null and userName != ''">
                and u.user_name like '%${userName}%'
            </if>
            <if test="userCollege != null and userCollege != ''">
                and u.college = #{userCollege}
            </if>
            <if test="professionalTitle != null and professionalTitle != ''">
                and u.professional_title = #{professionalTitle}
            </if>
            <if test="true">
                and u.user_mark = #{user_mark}
            </if>
        </where>
    </sql>


    <!--根据查询条件分页查询列表-->
    <select id="getUserByQueryVo" parameterType="queryvo"  resultType="user">
        select
            u.user_id,
            u.user_name,
            u.user_phone,
            u.user_email,
            u.user_state,
            u.user_color,
            c.dict_item_name college,
            p.dict_item_name professional_title,
            pr.dict_item_name profession
        from user u
        left join base_dict c on u.college = c.dict_id
        left join base_dict p on u.professional_title = p.dict_id
        left join base_dict pr on u.profession = pr.dict_id
        <include refid="user_where"></include>
        limit #{start},#{rows};
    </select>


    <!--根据条件查询总记录数-->
    <select id="getCountByQueryVo" parameterType="queryvo" resultType="int">
        select count(1)
        from user u
        left join base_dict c on u.college = c.dict_id
        left join base_dict p on u.professional_title = p.dict_id
        <include refid="user_where"></include>
    </select>

    <!--根据ID查询用户信息-->
    <select id="getUserById" parameterType="int" resultType="user">
        select
            user_id,
            user_name,
            user_phone,
            user_email,
            college,
            professional_title,
            user_color,
            profession
        from user
        where user_id = #{id} and user_mark = 1;
    </select>


    <!--更新用户信息-->
    <update id="updateUser" parameterType="user">
        update user
        <set>
            <if test="user_name != null and user_name != ''">
                user_name = #{user_name},
            </if>
            <if test="user_phone != null and user_phone != ''">
                user_phone = #{user_phone},
            </if>
            <if test="user_email != null and user_email != ''">
                user_email = #{user_email},
            </if>
            <if test="professional_title != null and professional_title != ''">
                professional_title = #{professional_title},
            </if>
            <if test="college != null and college != ''">
                college = #{college},
            </if>

            <if test="user_color != null and user_color != ''">
                user_color = #{user_color},
            </if>
            <if test="profession != null and profession != ''">
                profession = #{profession},
            </if>
        </set>
        where user_id = #{user_id};
    </update>

    <!--删除用户-->
    <!--<delete id="deleteUserById" parameterType="int">-->
        <!--delete-->
        <!--from user-->
        <!--where user_id = #{user_id};-->
    <!--</delete>-->

    <update id="deleteUserById" parameterType="integer">
        update user
        set user_mark = 0
        where user_id = #{user_id};
    </update>

    <!--找回用户-->
    <update id="backUserById" parameterType="integer">
        update user
        set user_mark = 1
        where user_id = #{user_id};
    </update>

    <!--添加用户-->
    <insert id="addUser" parameterType="user">
        insert into user
        (user_name,user_phone,user_email,user_password,college,professional_title,user_color,profession)
        values
            (#{user_name},#{user_phone},#{user_email},#{user_password},#{college},#{professional_title},#{user_color},#{profession});
    </insert>

    <!--查询所有用户-->
    <select id="queryAllUser" resultType="user">
        select
            user_id,
            user_name,
            user_phone,
            user_email,
            college,
            professional_title,
            profession
        from user
        where user_mark = 1

    </select>

    <select id="login"  resultType="user" parameterType="user">
        select * from user
        where (user_name = #{user_name} or user_phone = #{user_name} or user_email = #{user_name})
              and user_password = #{user_password} and user_mark = 1


    </select>

    <!--修改密码-->
    <update id="updatePassword" parameterType="user">
        update user
        set user_password = #{user_password}
        where user_id = #{user_id}
    </update>



    <update id="updateState" parameterType="string">
        update user
        set user_state = 1
        where user_email = #{email}
    </update>
</mapper>